<!doctype html>
<html lang="pt-br">

<head>
  <title>Nomalia</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/home.css">
  <link href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Readex+Pro:wght@200&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap" rel="stylesheet">
</head>

<body>
  <nav>
    <button class=images>
      <span>
        <a href="/"><img src="/images/dove and grenade.jpg" class="image-brand"></a>
      </span>
    </button>
    <div class="nav-links">
      <ul class=nav-bar>
        <li class="links"><a href="/entrar">Entrar</a></li>
      </ul>
    </div>

    <div class="title-nav">
      <h1 style="font-size: 30px">Você já ouviu falar em Hollywood undead?</h1>
    </div>
  </nav>

  <center class="image">
    <div>
      <img src="/images/hu2.jpg" class="image-center">
    </div>
    <h2 class="titulo-center">O que é Hollywood Undead?</h2>
  </center>

  <aside>
    <p class="text-center">Hollywood Undead é uma banda norte americana que surgiu por volta de 2005 ela é uma banda
      de pop rock mas com
      musicas de varios estilos.<br></p>
  </aside>
  <div>
    <h3>Composição da banda</h3>
  </div>

  <section>
    <div>
      <img src="/images/jdog.png">
      <p>J dog</p>
    </div>

    <div>
      <img src="/images/cs.jpg">
      <p>Charlie scene</p>
    </div>

    <div>
      <img src="/images/danny.jpg">
      <p>Danny</p>
    </div>

    <div>
      <img src="/images/j3.jpg">
      <p>Jhonny 3 tears</p>
    </div>

  </section>

  <div class="list-music">
    <center class="h4-music">
      <h4>Minhas 5 musicas preferidas</h4>
    </center>
    <aside>
      <ul>
        <li class="musicas">Hollywood Undead - Coming Back Down;</li>
        <a class="links2" href="https://www.youtube.com/watch?v=tWbUaCgdy5U" target="_blank">Link</a>
        <li class="musicas">Hollywood Undead - Belive;</li>
        <a class="links2" href="https://www.youtube.com/watch?v=eLigICVB-uM" target="_blank">Link</a>
        <li class="musicas">Hollywood Undead - Broken Records;</li>
        <a class="links2" href="https://www.youtube.com/watch?v=rAQv_pSXt18" target="_blank">Link</a>
        <li class="musicas">Hollywood Undead - Pain;</li>
        <a class="links2" class="links" href="https://www.youtube.com/watch?v=uUv0PbcFZjY" target="_blank">Link</a>
        <li class="musicas">Hollywood Undead - medicate</li>
        <a class="links2" href="https://www.youtube.com/watch?v=h1v9fBrE4DE" target="_blank">Link</a>
      </ul>
    </aside>
  </div>

  <footer>
    <div class="container">
      <div class>
        <img src="/images/dove and grenade.jpg" id="logo">
        <ul>
          <li class="text-rodape">Todos os direitos reservados</li>
          <li class="text-rodape">@2021 nomalia</li>
        </ul>
      </div>
    </div>
    <div class="icon-container">
      <a href="https://facebook.com" target="_blank"><img src="/images/facebook.png" class="icon"></a>
      <a href="https://instagram.com" target="_blank"><img src="/images/instagram.png" class="icon"></a>
      <a href="https://youtube.com" target="_blank"><img src="/images/youtube.png" class="icon"></a>
    </div>


  </footer>



</body>

</html>